<template>
  <div id="app">
    <canvas ref="canvas">
      Your browser doesn't appear to support the HTML5 <code>&lt;this.$refs.canvas&gt;</code> element.
    </canvas>
    <div>
      <button @click="direct = -direct">direction</button>
      <button @click="reverseColor = !reverseColor">reverse colors</button>
    </div>
  </div>
</template>

<script>
import vertexShaderText from 'raw-loader!./shaders/vertexShader.glsl';
import fragmentShaderText from 'raw-loader!./shaders/fragmentShader.glsl';
import * as glMatrix from "gl-matrix";

export default {
  name: 'App',

  data() {
    return {
      gl: false,
      program: false,

      vertices: [
        0.0, 0.5, 0.0,
        -0.5, -0.5, 0.0,
        0.5, -0.5, 0.0,
      ],

      colors: [
        [1.0,  1.0,  1.0], //white
        [1.0,  0.0,  0.0], //red
        [0.0,  1.0,  0.0], //green
        [0.0,  0.0,  1.0], //blue
      ],
      reverseColor: false,

      direct: 1,

      fixTime: 0,

      angle: 0,

      matrix: {
        world: new Float32Array(16),
        proj:  new Float32Array(16),
        view: new Float32Array(16),
      },
    }
  },

  computed: {
    ucolor() {
      let deg = this.angle * 180 / Math.PI;
      while (deg  > 360) deg -= 360;

      const index = Math.floor(deg / 90);

      return this.reverseColor ? [...this.colors].reverse()[index] : this.colors[index];
    },
  },

  methods: {
    getGlContext() {
      this.gl = this.$refs.canvas.getContext('webgl2');

      if (!this.gl) {
        console.log('WebGL2 not supported, falling back on webgl');
        this.gl = this.$refs.canvas.getContext('webgl');
      }

      if (!this.gl) {
        console.log('WebGL not supported, falling back on experimental-webgl');
        this.gl = this.$refs.canvas.getContext('experimental-webgl');
      }

      if (!this.gl) {
        alert('Your browser does not support WebGL');
      }
    },

    createShaders() {
      const vertexShader = this.gl.createShader(this.gl.VERTEX_SHADER);
      const fragmentShader = this.gl.createShader(this.gl.FRAGMENT_SHADER);

      this.gl.shaderSource(vertexShader, vertexShaderText);
      this.gl.shaderSource(fragmentShader, fragmentShaderText);

      this.gl.compileShader(vertexShader);
      if (!this.gl.getShaderParameter(vertexShader, this.gl.COMPILE_STATUS)) {
        console.error('ERROR compiling vertex shader!', this.gl.getShaderInfoLog(vertexShader));
        return;
      }

      this.gl.compileShader(fragmentShader);
      if (!this.gl.getShaderParameter(fragmentShader, this.gl.COMPILE_STATUS)) {
        console.error('ERROR compiling fragment shader!', this.gl.getShaderInfoLog(fragmentShader));
        return;
      }

      this.program = this.gl.createProgram();
      this.gl.attachShader(this.program, vertexShader);
      this.gl.attachShader(this.program, fragmentShader);
      this.gl.linkProgram(this.program);
      if (!this.gl.getProgramParameter(this.program, this.gl.LINK_STATUS)) {
        console.error('ERROR linking program!', this.gl.getProgramInfoLog(this.program));
        return;
      }
      this.gl.validateProgram(this.program);
      if (!this.gl.getProgramParameter(this.program, this.gl.VALIDATE_STATUS)) {
        console.error('ERROR validating program!', this.gl.getProgramInfoLog(this.program));
      }
    },

    bindBuffer() {
      const triangleVertexBufferObject = this.gl.createBuffer();
      this.gl.bindBuffer(this.gl.ARRAY_BUFFER, triangleVertexBufferObject);
      this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(this.vertices), this.gl.STATIC_DRAW);
    },

    render(now) {
      now *= 0.001;
      const deltaTime = now - this.fixTime;
      this.fixTime = now;

      if(this.angle >= 2 * Math.PI) {
        this.angle -= 2 * Math.PI;
      }

      this.angle += Math.PI * deltaTime / 5; // 5 seconds full rotation

      glMatrix.mat4.rotate(
          this.matrix.world,
          glMatrix.mat4.identity(new Float32Array(16)),
          this.angle,
          [0, this.direct, 0]
      );
      

      const matWorldUniformLocation = this.gl.getUniformLocation(this.program, 'mWorld');
      this.gl.uniformMatrix4fv(matWorldUniformLocation, this.gl.FALSE, this.matrix.world);

      const colorLocation = this.gl.getUniformLocation(this.program, 'fragColor');
      
      this.gl.uniform3fv(colorLocation, this.ucolor);

      this.gl.clearColor(0.5, 0.5, 0.5, 1.0);
      this.gl.clear(this.gl.DEPTH_BUFFER_BIT | this.gl.COLOR_BUFFER_BIT);

      this.gl.drawArrays(this.gl.TRIANGLES, 0, 3);

      requestAnimationFrame(this.render);
    },

    play() {
      this.getGlContext();
      this.createShaders();
      this.bindBuffer();
      this.setViewport();

      const positionAttribLocation = this.gl.getAttribLocation(this.program, 'vertPosition');
      this.gl.vertexAttribPointer(
          positionAttribLocation,
          3,
          this.gl.FLOAT,
          this.gl.FALSE,
          3 * Float32Array.BYTES_PER_ELEMENT,
          0
      );
      this.gl.enableVertexAttribArray(positionAttribLocation);

      this.gl.useProgram(this.program);

      const matViewUniformLocation = this.gl.getUniformLocation(this.program, 'mView');
      const matProjUniformLocation = this.gl.getUniformLocation(this.program, 'mProj');

      glMatrix.mat4.identity(this.matrix.world);
      glMatrix.mat4.lookAt(this.matrix.view, [0, 0, 2], [0, 0, 0], [0, 1, 0]);
      glMatrix.mat4.perspective(
          this.matrix.proj,
          glMatrix.glMatrix.toRadian(45),
          this.$refs.canvas.clientWidth / this.$refs.canvas.clientHeight,
          0.1, 1000.0
      );

      this.gl.uniformMatrix4fv(matViewUniformLocation, this.gl.FALSE, this.matrix.view);
      this.gl.uniformMatrix4fv(matProjUniformLocation, this.gl.FALSE, this.matrix.proj);

      requestAnimationFrame(this.render);
    },

    setViewport() {
      const width = this.gl.canvas.clientWidth;
      const height = this.gl.canvas.clientHeight;
      this.gl.canvas.width = width;
      this.gl.canvas.height = height;
      this.gl.viewport(0, 0, this.gl.canvas.clientWidth, this.gl.canvas.clientHeight);
    }
  },

  mounted() {
    this.play();
  },
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
canvas {
  width: 50vw;
  height: 50vh;
}
</style>
